<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>

<div>
    <h1>Heyy Guys this is Raghu</h1><br>
    <h1>Welcome To My Flask Tutorikal !!!</h1>
    <p>Refresh the page and check the increment function times fired.</p>
    <p>This site has been visited {{ count }} times.</p><br>
    <p1>I'm Python Developer, This App is Flask Site  !!!</p1><br>
</div>